<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Creation Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        
        <h2 class="text-center text-dark">Sign Up</h2>
        <!-- Your form content goes here -->
        <form id="signup" class="form-group rounded" method="post" enctype="multipart/form-data">
          <label class="form-label" for="name">Name : </label><br>
          <input class="form-control" type="text" id="name" name="name"><br>
        
          <label class="form-label" for="dept">Department : </label><br>
          <input class="form-control" type="text" id="dept" name="dept"><br>

          <label class="form-label" for="college">College : </label><br>
          <input class="form-control" type="text" id="college" name="college"><br>

          <label class="form-label" for="email">Email : </label><br>
          <input class="form-control" type="email" id="email" name="email"><br>

          <label class="form-label" for="pass">Password : </label><br>
          <input class="form-control" type="password" id="password" name="password"><br>
          <input class="btn btn-primary" type="submit" value="Submit">
      </form>
        
    </div>
</body>
</html>
